body, html {
    height: 100vh;
    overflow: hidden;
  }
/* p, h1, h2, h3, h4, h5 {
  font-family: 'IM Fell English SC', serif;
} */

/* p, h1, h2, h3, h4, h5 {
font-family: 'Old Standard TT', serif;
} */

p, h1, h2, h3, h4, h5 {
    font-family: 'IM Fell English', serif;
    }
p {
    font-size: 2em;
}

  .bg {
    background-image: url("../images/Minecraft Moss Stone Brick Textured Wallpaper by elbarnzo on.jpg");
    /* background-color: grey; */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    overflow: hidden;
  }
  .charSelbg {
    background-image: url("../images/Minecraft Moss Stone Brick Textured Wallpaper by elbarnzo on.jpg");
    /* background-color: grey; */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    overflow: hidden;
  }
header {
    background-color: blue;
    border-color: white;
    border-style: ridge;
    border-width: 0px 10px 10px 10px;
    padding-top: 10px;
    height: 20vh;
    display: none;
}

  .startScreen {
    /* background-image: url("/clearlink.jpg"); */
      background-color: black;
      display: block;
      height: 100%;
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
  }

  .containerBg {
    background-image: url("../images/mapWorld.jpg"); 
    /* background-color: pink; */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: none; */
  }

  .charSelect {
      background-image: url("../images/charSelBG.png");
      /* background-color: green; */
      display: none;
      height: 100%;
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 5rem;
  }

  .stats {
    border-style: inset;
    border-color: white;
    border-width: 2px;
  }

    .charOne {
        background-color: rgba(128, 128, 128, 0.5);
        border-style: outset;
      border-color: rgba(65, 65, 65, 0.5);
      border-width: 10px;
      height: 20rem;
    }
    .charTwo {
        background-color: rgba(128, 128, 128, 0.5);
        border-style: outset;
      border-color: rgba(65, 65, 65, 0.5);
      border-width: 10px;
      height: 20rem;
    }
    .charThree {
        background-color: rgba(128, 128, 128, 0.5);
        border-style: outset;
      border-color: rgba(65, 65, 65, 0.5);
      border-width: 10px;
      height: 20rem;
    }

    .red-border {
        background-color: rgba(128, 128, 128, 0.5);
        border-style: outset;
      border-color: rgba(255, 0, 0, 0.5);
      border-width: 10px;
      height: 20rem;
      }

    .charSelected {
        background-color: tan;
      display: none;
      width: inherit;
    color: white;
    text-align: center;
    z-index: 20;
    box-shadow: 0px, 0px, 10px, 5px, grey;
    }

    .playerConfirm {
        font-size: .5em;
        font-style: italic;
    }

    #charSelOne {
        background-color: tan;
      /* display: none; */
    width: inherit;
    color: white;
    text-align: center;
    z-index: 20;
    margin-top: 5rem;
    opacity: .8;
    }
    #charSelOne:hover {
        opacity: 1;
    }
    #charSelTwo {
        background-color: tan;
      /* display: none; */
      width: inherit;
    color: white;
    text-align: center;
    z-index: 20;
    margin-top: 3rem;
    opacity: .8;
    }
    #charSelTwo:hover {
        opacity: 1;
    }

    #charSelThree {
        background-color: tan;
      /* display: none; */
    width: inherit;
    color: white;
    text-align: center;
    z-index: 20;
    margin-top: 6rem;
    opacity: .8;
    }
    #charSelThree:hover {
        opacity: 1;
    }
      

  .mapArea {
      border-style: dashed;
      border-color: lightgreen;
      border-width: 5px;
        height: 100%;
  }
  .worldRow {
      height: 33%;
  }

  .menu {
      border-style: ridge;
      border-color: white;
      border-width: 10px;
      background-color: blue;
      color: white;
      width: inherit;
      float: left;
      display: none;
      position: relative;
      height: inherit;

  }

  .menuButt {
      border-style: outset;
      border-width: 10px;
      border-color: grey;
      background-color: grey;
      color: white;
      float: left;
      width: 30px;
      height: 30px;
  }

  .heroFight {
    border-style: double;
    border-color: white;
    border-width: 5px;
    z-index: 50;
      display: inline-block;
      margin-top: 2px;
      margin-left: 7px;
      margin-right: 1px;
      height: 100%;
      width: 49%;
  }

  .villainFight {
    border-style: double;
    border-color: white;
    border-width: 5px;  
    z-index: 50;
    display: inline-block;
    
    height: 100%;
    width: 49%;
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 7px;
  }
