body, html {
    height: 100vh;
    overflow: hidden;
  }
/* p, h1, h2, h3, h4, h5 {
  font-family: 'IM Fell English SC', serif;
} */

/* p, h1, h2, h3, h4, h5 {
font-family: 'Old Standard TT', serif;
} */

p, h1, h2, h3, h4, h5 {
    font-family: 'IM Fell English', serif;
    }
p {
    font-size: 2em;
}

  .bg {
    background-image: url("../images/Minecraft Moss Stone Brick Textured Wallpaper by elbarnzo on.jpg");
    /* background-color: grey; */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: bottom;
    display: none;
    overflow: hidden;
  }
  .charSelbg {
    background-image: url("../images/Minecraft Moss Stone Brick Textured Wallpaper by elbarnzo on.jpg");
    /* background-color: grey; */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    overflow: hidden;
  }
header {
    background-color: blue;
    border-color: white;
    color: white;
    border-style: ridge;
    border-width: 0px 10px 10px 10px;
    padding-top: 10px;
    height: 20vh;
    display: none;
}

footer {
    background-color: blue;
    border-color: white;
    border-style: ridge;
    border-width: 10px 10px 0px 10px;
    padding-top: 10px;
    height: 10vh;
    position: absolute;
    width: 100%;
    bottom: 0;
}

  .startScreen {
    /* background-image: url("/clearlink.jpg"); */
      background-color: black;
      display: block;
      height: 100%;
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
  }

  .containerBg {
    background-image: url("../images/mapWorld.jpg"); 
    /* background-color: pink; */
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: none; */
  }

  .charSelect {
      background-image: url("../images/charSelBG.png");
      /* background-color: green; */
      display: none;
      height: 100%;
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 5rem;
  }

  .stats {
    border-style: inset;
    border-color: white;
    border-width: 2px;
  }

    .charOne {
        background-color: rgba(128, 128, 128, 0.5);
        border-style: outset;
      border-color: rgba(65, 65, 65, 0.5);
      border-width: 10px;
      height: 20rem;
    }
    .charTwo {
        background-color: rgba(128, 128, 128, 0.5);
        border-style: outset;
      border-color: rgba(65, 65, 65, 0.5);
      border-width: 10px;
      height: 20rem;
    }
    .charThree {
        background-color: rgba(128, 128, 128, 0.5);
        border-style: outset;
      border-color: rgba(65, 65, 65, 0.5);
      border-width: 10px;
      height: 20rem;
    }

    .red-border {
        background-color: rgba(128, 128, 128, 0.5);
        border-style: outset;
      border-color: rgba(255, 0, 0, 0.5);
      border-width: 10px;
      height: 20rem;
      }

    .charSelected {
        background-color: tan;
      display: none;
      width: inherit;
    color: white;
    text-align: center;
    z-index: 20;
    box-shadow: 0px, 0px, 10px, 5px, grey;
    }

    .playerConfirm {
        font-size: .5em;
        font-style: italic;
    }

    #charSelOne {
        background-color: tan;
      /* display: none; */
    width: inherit;
    color: white;
    text-align: center;
    z-index: 20;
    margin-top: 5rem;
    opacity: .8;
    }
    #charSelOne:hover {
        opacity: 1;
    }
    #charSelTwo {
        background-color: tan;
      /* display: none; */
      width: inherit;
    color: white;
    text-align: center;
    z-index: 20;
    margin-top: 3rem;
    opacity: .8;
    }
    #charSelTwo:hover {
        opacity: 1;
    }

    #charSelThree {
        background-color: tan;
      /* display: none; */
    width: inherit;
    color: white;
    text-align: center;
    z-index: 20;
    margin-top: 6rem;
    opacity: .8;
    }
    #charSelThree:hover {
        opacity: 1;
    }
      

  .mapArea {
      border-style: dashed;
      border-color: lightgreen;
      border-width: 5px;
        height: 100%;
        position: relative;
  }
  .worldRow {
      height: 33%;
      color: rgb(21, 255, 0);
      font-weight:bold;
      
      
      
  }
  .mapH2 {
    background-color: tan;
    color: white;
  }
  .fightRow {
      border-bottom-style: ridge;
      border-color: white;
      border-width: 10px;
      width: 100%;
      height: 30vh;
      padding: 0px 0px 0 2px;
      margin: 0px 0px 0 0px;
  }

  .charCont {
      height: 110px;
      width: 110px;
      position: absolute;
      -webkit-transition: all 5.5s ease-in-out;
    -moz-transition: all 5.5s ease-in-out;
    -ms-transition: all 5.5s ease-in-out;
    -o-transition: all 5.5s ease-in-out;
    transition: all 5.5s ease-in-out;  
  }

  .conCont {
    height: 110px;
    width: 110px;
    position: absolute;
    color: white;
  }
  #conContOne {
    display: block;
    color: white;
  }
  #conContTwo {
    display: block;
    color: white;
  }
  #conContThree {
    display: block;
    color: white;
  }
  #conContFour {
    display: block;
    color: white;
  }

  .menuFight {
      border-style: ridge;
      border-color: white;
      border-width: 10px;
      background-color: blue;
      color: white;
      /* width: inherit;
      float: left; */
      display: none;
      position: relative;
      height: inherit;
      

  }

  .menuButt {
      border-style: outset;
      border-width: 10px;
      border-color: grey;
      background-color: grey;
      color: white;
      float: left;
      width: 8rem;
      height: 4rem;
      margin-left: 1rem;
      text-align: center;
      
  }

  .heroFight {
    border-right-style: ridge;
    border-color: white;
    border-width: 10px;
    overflow: hidden;
      /* display: inline-block; */
      /* margin-top: 2px;
      margin-left: 7px;
      margin-right: 1px; */
      /* height: 100%;
      width: 50%; */
  }

  .villainFight {
    /* border-left-style: ridge;
    border-color: white;
    border-width: 10px;   */
    overflow: hidden;
    /* display: inline-block; */
    /* height: 100%;
    width: 50%; */
    /* margin-top: 2px;
    margin-left: -4px;
    margin-right: 7px; */
  }

  .images {
      height: 100px;
      width: 100px;
  }
  .imageCorr {
    height: 200px;
    width: 200px;
    display: block;
  }
  .popup {
      display: none;
      color: white;
      font-size: .75em;
  }